.boton {
    -fx-background-image: url("https://i.imgur.com/6wN4F0h.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
}

.boton2 {
    -fx-background-image: url("https://i.imgur.com/S4WP1gQ.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}


.boton3 {
    -fx-background-image: url("https://i.imgur.com/N3jczwQ.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.boton4 {
    -fx-background-image: url("https://i.imgur.com/k2W6AWY.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.fondo1 {
    -fx-background-image: url("https://i.imgur.com/6CimnWF.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.fondo2 {
    -fx-background-image: url("https://i.imgur.com/AOI9EzS.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.fondo3 {
    -fx-background-image: url("https://i.imgur.com/OUXH7Cg.jpeg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}


